@SiteLightBlue: #f8f9fd;
@SiteBlue:  #0C6DFE;
@SiteBlue1: #25a8e0;
@SiteBlue3: #c0d6ff;
@SiteBlue4: #314fa4;
@SiteBlue5: #2471DD;
@SiteBlue6: #0A59C9;
@color1: #121212;
@color2: #767676;
@color3: #828282;
@color4: #454545;
@color5: #6c6c6c;
@font_family_FontAwesome: FontAwesome;
@baseColor:#ffffff;
@successColor:#6AB30E;
@successColor1:#569406;
@successColor3:#28A745;
@successColor4:#C8E9CF;
@warningColor:#f15e5e ;
@Sitedark: #1a1a1d; 

@color_1: #333;
@color_2: #FFF;
@color_3: #222;
@color_4: #4a5a6b;
@color_5: #495057;
@color_6: #CCCCCC;
@background_color_1: rgba(255, 255, 255, .5);
@background_color_2: #4172f5aa;
@background_color_3: #222;
@background_color_4: transparent;
@background-color_5: #F8FAFF;